.stable {
  :global(.ant-pagination) {
    margin: 16px 0 0 !important;
  }
}

.search {
  height: 28px;
  line-height: 28px;
}

.toolbar {
  margin-bottom: 12px;

  .title {
    font-size: 16px;
    font-weight: bold;
  }

  .icon {
    font-size: 18px;
    cursor: pointer;
  }
}

.filterItems {
  min-width: 150px;

  :global(.ant-checkbox-group) {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
  }

  .action {
    padding: 8px 16px 8px 8px;
  }
}