<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link href="http://cdn.qbangmang.com/spug/xterm.min.css" rel="stylesheet" type="text/css"/>
  <style>
    body {
      margin: 0;
    }
  </style>
</head>
<body>
<div id="terminal"></div>
<script src="http://cdn.qbangmang.com/spug/xterm.min.js"></script>
<script src="http://cdn.qbangmang.com/spug/xterm-addon-fit.min.js"></script>
<script src="http://cdn.qbangmang.com/spug/main.js"></script>
<script>
  run('{{ id }}', '{{ token }}')
</script>
</body>
</html>