.container {
    display: flex;
    background-color: #fff;
    padding: 16px 0;
    min-height: 500px;
}
.left {
    flex: 2;
    border-right: 1px solid #e8e8e8;
}
.right {
    flex: 7;
    padding: 8px 40px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.appBlock {
    margin-top: 20px;
    width: 165px;
    height: 60px;
    font-size: 18px;
    margin-right: 20px;
}

.tips {
    margin-top: 32px;
    color: #888;
}