.container {
    display: flex;
    background-color: #fff;
    padding: 16px 0;
    min-height: 500px;
}
.left {
    flex: 2;
    border-right: 1px solid #e8e8e8;
}
.right {
    flex: 7;
    padding: 8px 40px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

 .appItem {
    width: 560px;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    margin-bottom: 8px;
    background: #fafafa;
    border-radius: 4px;
 }

.appItem :global(.anticon) {
    color: #1890ff;
    margin-right: 16px;
}

.appItem .body {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.appItem:hover {
    cursor: pointer;
    background: #e6f7ff;
}

.tips {
    margin-top: 32px;
    color: #888;
}