.header {
  padding: 0 8px;

  .item {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      background: #f1f1f1;
    }
  }
}