.container {
    display: flex;
    background-color: #fff;
    padding: 16px 0;
}
.left {
    width: 250px;
    border-right: 1px solid #e8e8e8;
}
.right {
    flex: 1;
    padding: 8px 40px;
}

.title {
    margin-bottom: 12px;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.form {
    max-width: 320px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}