apscheduler==3.7.0
Django==2.2.28
asgiref==3.2.10
channels==2.3.1
channels_redis==2.4.1
paramiko==2.11.0
django-redis==4.10.0
requests==2.27.1
GitPython==3.1.41
python-ldap==3.4.0
openpyxl==3.0.3
user_agents==2.2.0