.header {
    height: 64px;
    padding: 0 12px 0 0;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0, 21, 41, 0.08);
    position: relative;
    z-index: 2;
}

.header .icon {
    margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px 0;
    overflow-y: scroll;
}

.trigger {
    font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    transition: all 0.3s, padding 0s;
    padding: 0 24px;
    float: left;
}

.trigger:hover {
    background: rgb(233, 247, 254);
}

.logo {
    height: 64px;
    line-height: 64px;
    padding-left: 24px;
    background-color: #002140;
    overflow: hidden;
}

.logo h1 {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-weight: 600;
}

.logo img {
    height: 32px;
}

.right {
    float: right;
    height: 100%;
}

.action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all 0.3s;
    height: 100%;
}

.action:hover {
    background: rgb(233, 247, 254);
}
.notify {
    width: 350px;
    padding: 0;
}
.notify :global(.ant-dropdown-menu-item:hover) {
    background-color: #fff;
}
.notifyItem {
    align-items: center;
    cursor: pointer;
    padding: 12px 24px;
}
.notifyItem:hover {
    background-color: rgb(233, 247, 254);
}
.notifyFooter {
    line-height: 46px;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #e8e8e8;
}

.footerZone {
    width: 100%;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footerZone .linksZone {
    margin-bottom: 7px;
}
.footerZone .links{
    margin-right: 40px;
}
