.collapse :global(.ant-collapse-content-box) {
    padding: 0;
}

.fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, .45);
    margin-right: 56px;
}
.fullscreen:hover {
    color: #000;
}

.console {
    padding: 10px 15px;
    overflow: scroll;
}

.header {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    padding-right: 20px;
    margin: 0
}

pre {
    margin: 0;
}