.header {
    display: flex;
}

.collapse {
    margin-top: 16px;
}

.collapse :global(.ant-collapse-content-box) {
    padding: 0;
}

.ext1Console {
    min-height: 40px;
    max-height: 300px;
    padding: 10px 15px;
}

.ext2Block {
    display: flex;
    background-color: #fff;
    margin-top: 16px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}

.ext2Console {
    flex: 1;
    padding: 30px;
}

.ext2Step {
    padding: 24px;
    width: 220px;
    border-right: 1px solid #e8e8e8;
}

.ext2Step :global(.ant-steps-item) {
    height: 100px;
}

.ext2Tips {
    color: #888;
    margin-top: 30px;
}

pre {
    margin: 0;
}