[mysqld]
basedir    		= /usr/
datadir    		= /var/lib/mysql
pid-file  		= /var/run/mysqld/mysqld.pid
socket     		= /var/run/mysqld/mysqld.sock
port       		= 3306
user       		= mysql

log_error              	= /var/lib/mysql/mysql-error.log
slow-query-log-file    	= /var/lib/mysql/mysql-slow.log
log_bin                	= /var/lib/mysql/mysql-bin.log
relay-log              	= /var/lib/mysql/mysql-relay-bin

server-id              	= 1
#read_only 		= 1
innodb_buffer_pool_size = 1024M
innodb_log_buffer_size  = 16M
#key_buffer_size         = 64M
key_buffer_size         = 128M
query_cache_size        = 256M
tmp_table_size          = 128M

#lower_case_table_names = 1
binlog_format          = mixed
#binlog_format          	= statement
skip-external-locking
skip-name-resolve
character-set-server 	= utf8
collation-server 	= utf8_bin
#collation-server 	= utf8_general_ci
max_allowed_packet      = 16M
thread_cache_size       = 256
table_open_cache 	= 4096
back_log                = 1024
max_connect_errors      = 100000
#wait_timeout            = 864000

interactive_timeout  =  1800
wait_timeout  = 1800

max_connections         = 2048
sort_buffer_size        = 16M
join_buffer_size        = 4M
read_buffer_size        = 4M
#read_rnd_buffer_size    = 8M
read_rnd_buffer_size    = 16M
binlog_cache_size       = 2M
thread_stack            = 192K

max_heap_table_size     = 128M
myisam_sort_buffer_size = 128M
bulk_insert_buffer_size = 256M
open_files_limit        = 65535
query_cache_limit       = 2M
slow-query-log
long_query_time        	= 2

expire_logs_days	= 3
max_binlog_size        	= 1000M
slave_parallel_workers 	= 4
log-slave-updates
#slave-skip-errors	=1062,1053,1146,1032

binlog_ignore_db       	= mysql
replicate_wild_ignore_table = mysql.%
sync_binlog = 1

innodb_file_per_table 	= 1
innodb_flush_method 	= O_DIRECT
innodb_buffer_pool_instances = 4
innodb_log_file_size    = 512M
innodb_log_files_in_group = 3
innodb_open_files 	= 4000
innodb_read_io_threads 	= 8
innodb_write_io_threads = 8
innodb_thread_concurrency = 8
innodb_io_capacity 	= 2000
innodb_io_capacity_max	= 6000
innodb_lru_scan_depth	= 2000
innodb_max_dirty_pages_pct = 85
innodb_flush_log_at_trx_commit = 2
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES


[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[client]
default-character-set 	= utf8
[mysql]
default-character-set 	= utf8

[isamchk]
key_buffer       	= 128M
sort_buffer_size 	= 4M
read_buffer      	= 2M
write_buffer     	= 2M

[myisamchk]
key_buffer       	= 128M
sort_buffer_size 	= 4M
read_buffer      	= 2M
write_buffer     	= 2M
